body{
    font-family: "Oxanium", cursive;
    background: #000000;
    color: rgb(255, 255, 255);
}
body::before{
    content: "";
    background-image: url(../imagens/663253.jpg);
    background-repeat: no repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.73;
}

.cabecalho{
    display: flex;
    justify-content: center;
}
.cabecalho .logo{
    max-width: 215px;
}
.selecao-de-personagens{
    display: flex;
    font-size: 14.5px ;
    gap: 40px;
}.selecao-de-personagens .personagem img{
    height: 112px;
}
.selecao-de-personagens .lista-de-personagens{
    width: 700px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    gap: 105px;
    justify-content: center;
    
}
.selecao-de-personagens .personagens{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px
}
.selecao-de-personagens .personagens .titulo{
    font-size: 20px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    border-bottom:2px solid #47f4ff;
    width: 100%;
    text-align: center;
}
.lista-de-personagens .personagem.selecionado img{
    height: 101.5%;
}
.lista-de-personagens .personagem.selecionado{
    box-shadow: 20px 0px 75px 5px #0271f7;
}

.selecao-de-personagens .personagem-selecionado{
    width: 500px;;
    height: 230px;
    size-adjust: 200px;
    text-align: center;
    max-height: 530px;
}
.selecao-de-personagens .nome-personagem{
    border-bottom: 2px solid #47f4ff ;
    letter-spacing: 4px;
}

